/* General Container Styling */
.container2{
  margin-top: 120px;

}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #f4f4f9;
    margin-top: 40px;
  }
  
  /* Title Styling */
  .title {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  /* Card Container Styling */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    overflow-y: auto; /* Allows scrolling if needed */
    max-height: 80vh; /* Limit height and allow scrolling */
    cursor: pointer;
  }
  
  /* Card Styling */
  .card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
  }
  
  /* Card Text Styling */
  .card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #666;
  }
  
  .card p strong {
    color: #333;
  }
  